/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
    background: url("../images/fondomuseo.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #2b2b2b;
}

/* Centrados generales */
section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Bienvenida */
.welcome-box {
    width: 55%;
    background: rgba(255, 255, 255, 0.85);
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    border: 3px solid #6a563a;
}

button {
    background: #8b6f47;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    opacity: .85;
}

/* Juego */
#timer {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

#board {
    width: 900px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    padding: 25px;
    background: rgba(255, 255, 255, 0.75);
    border: 3px solid #6a563a;
    border-radius: 15px;
}

.card {
    width: 190px;
    height: 190px;
    border: 4px solid #8b6f47;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    background: #f9f9f9;
}

.card img {
    width: 100%;
    height: 100%;
    display: none;
}

/* Galería final */
#gallery {
    width: 75%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.gallery-item {
    border: 4px solid #6a563a;
    border-radius: 10px;
    background: white;
    cursor: pointer;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

/* Modal */
#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-box {
    background: white;
    padding: 25px;
    width: 430px;
    border-radius: 12px;
    text-align: center;
    position: relative;
}

#modal-img {
    width: 100%;
    max-height: 330px;
    object-fit: contain;
}

#close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

.hidden {
    display: none;
}

